@if linux:
    #--passL:"-static-libstdc++"
    #--passL:"-static-libgcc"
    --passL:"-s"
    --passC:"-fno-strict-aliasing"
@end

@if windows:
    # Force Nim's CPP backend to route all files through the C toolchain driver
    mingw.amd64.cpp.exe = "x86_64-w64-mingw32-gcc"
    mingw.amd64.cpp.linkerexe = "x86_64-w64-mingw32-g++"

    # Inject headers and contextually parse .c files as C and .cpp files as C++
    --passC:"-I/usr/x86_64-w64-mingw32/sys-root/mingw/include"
    --passC:"-D_WIN32 -D_WIN64"
    --passC:"-DIMGUI_DISABLE_WIN32_DEFAULT_CLIPBOARD_FUNCTIONS"
    --passC:"-DIMGUI_DISABLE_WIN32_DEFAULT_IME_FUNCTIONS"

    --passC:"-fno-strict-aliasing"

    # Tell the GCC driver to automatically switch grammar languages based on file extensions
    --passC:"-x none"

    # Bind target libraries
    --passL:"-L/usr/x86_64-w64-mingw32/sys-root/mingw/lib"
    --passL:"-static -static-libgcc -static-libstdc++ -lopengl32 -lgdi32 -lwinmm"

    # Icon
    --passL:"./assets/icon.res"

    # Tell the compiler to generate code for a baseline x86_64 architecture
    #--passC:"-march=x86-64"
    #--passL:"-march=x86-64"
@end
