[Desktop Entry]
Type=Application
Name=Simple Doom Launcher
Comment=Just a simple Doom launcher
Exec=SimpleDoomLauncher
Icon=org.muchobliged.SimpleDoomLauncher
Categories=Game;
